<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" fileName="${basedir}/file.txt"  />
    <target name="n" xsi:type="OutputDebugString" layout="${message}" />
    <target name="file2" xsi:type="File"
        layout="${longdate} ${uppercase:${level}} ${message}"
        fileName="${basedir}/logs/logfile.txt"
        archiveFileName="${basedir}/archives/${level}/log.{#####}.txt"
        archiveEvery="Minute"
        archiveAboveSize="10000"
        archiveNumbering="Rolling"
        maxArchiveFiles="3"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="iso-8859-2" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>
